MEDUSA_ADMIN_ONBOARDING_TYPE=
STORE_CORS=
ADMIN_CORS=
AUTH_CORS=
REDIS_URL=
JWT_SECRET=
COOKIE_SECRET=
DATABASE_URL=
MEDUSA_ADMIN_ONBOARDING_NEXTJS_DIRECTORY=

MEDUSA_ADMIN_ONBOARDING_NEXTJS_DIRECTORY=

MEDUSA_ADMIN_EMAIL=
MEDUSA_ADMIN_PASSWORD=

POSTMAN_API_KEY=
POSTMAN_COLLECTION_ID=


